.container{
  padding-top:20px;
  text-align: center;
 
}

.movieName{
  font-weight: bolder;
  margin-bottom: 0px;
}

.pagination{
  display: flex;
  justify-content: center;
}

.background{
  background-color: rosybrown;
}




