
.cntCenter{
  padding-top:20px;
  text-align: center;
 
}

.movieName{
  font-weight: bolder;
  margin-bottom: 0px;
}



.background{
  background-color: rosybrown;
}



.card {
  margin: 0 auto; 
  float: none; 
}
.center{
  display: flex;
  justify-content: center;
}


.linkStyle{
 
  text-decoration: none;
  color: inherit;
  cursor:pointer;
}

.dropdownStyle{
  float: right;
  padding-right: 10%;
  
}

.pageHeader{
  display: inline;
  font-size: 25px;
  color: black;
  font-weight: bold;
  padding-left: 10%;
  padding-top: 1%;
  margin-bottom: 0;
}

.non-found{
  font-size: 20px;
  font-weight: bold;
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 25%;
  background: rosybrown;
}

.tableStyle{
  width: 60%;
  margin: auto;
  background-color: white;
  
}

.leaflet-container{
 
  height:100vh;
}
